:root{
    --background-color: #000;
    --text-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Fugaz One;
    src: url("../fonts/Fugaz\ One.ttf");
}

body{
    font-family: "Fugaz One", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
}

.logo {
    width: 120px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

.navbar{
    background-color: var(--background-color);
    padding: 20px 0;
}